---

---

<section
  class="contenido flex flex-col-reverse items-center h-full   justify-center absolute px-5 py-10 w-full  md:flex-row  xl:px-96"
>
  
  
  <div class="w-full">
    <section class="w-full ">
      <p class="py-9 dark:text-white ">😎Simple way to communicate</p>
      <h1 class="text-5xl w-[100%] font-bold text-[#111729] dark:text-white">
        Actions for Accessibility<br /> in Design
      </h1>

      <p class="mt-10 text-[#909193] font-semibold dark:text-[#56679a]">
        The fastest way to build and deploy websites with reusable <br
        />components.
      </p>
    </section>

    <div class="grup-buttons flex flex-row gap-4 mt-10">
      <button
        class="text-[16px] bg-[#2A4DD0] text-white font-semibold p-3 rounded-lg w-36 mr-5 hover:opacity-80 transition-opacity duration-150 animate-shake"
        >GET STARTED</button
      >
      <button
        class="text-[16px] text-[#2A4DD0] font-semibold underline decoration-2 dark:text-white"
        >Get Live Demo</button
      >
    </div>

    <div class="check-icon p-1 flex flex-row text-sm mt-5 md:flex-col w-full">
        <ul class="flex flex-row gap-5 ">
            <li class="flex gap-3 dark:text-white ">
                <img src="/public/resources/Done_ring_round_fill.svg" alt="">
                <span>No credit card required</span>
            </li>
            <li class="flex gap-3 dark:text-white">
                <img src="/public/resources/Done_ring_round_fill.svg" alt="">
                <span>No software to install</span>
            </li>
        </ul>
    </div>
  </div>

  <div class="imagen flex justify-center items-center hover:scale-110 transition-all duration-300  ">
    <img
      src="/public/resources/hero-image-simple-homepage.png"
      alt=""
      class="w-[100%] "
    />
  </div>
 
  
</section>
