---
import MenuMovil from "./MenuMovil.astro";
import Theme from "./Theme.vue";


---

<header class="flex items-center  md:justify-between xl:px-96  py-5 px-5">
 
    <div class="w-full md:w-0 dark:text-white ">
      <div class="cursor-pointer w-4">
          <h1 >Logo</h1>
      </div>
        
    </div>
    <ul class="hidden md:flex gap-10 text-[#223344] dark:text-white text-sm font-semibold items-center">
        <li class="hover:text-blue-900 cursor-pointer hover:underline hover:decoration-2 transition-colors duration-150">Product</li>
        <li class="hover:text-blue-900 cursor-pointer hover:underline hover:decoration-2 transition-colors duration-150">About us</li>
        <li class="hover:text-blue-900 cursor-pointer hover:underline hover:decoration-2 transition-colors duration-150">Resource</li>
        <li class="hover:text-blue-900 cursor-pointer hover:underline hover:decoration-2 transition-colors duration-150">Contact</li>
        <Theme client:load/>
      </ul>
   <!--Thema -->

  
   <MenuMovil />
    
</header>
