<div class="cursor-pointer block md:hidden" id="menu-movil">
    <img src="resources/hamburger-button.svg" alt="Menu" class="dark:bg-[#3F679A]">
</div>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const icons = document.querySelector("#menu-movil");
        const verticalHeader = document.querySelector('#vertical-header');

        if (icons && verticalHeader) {
            icons.addEventListener('click', () => {
                // Alternar la clase 'hidden' en el elemento
                if (verticalHeader.classList.contains('hidden')) {
                    verticalHeader.classList.remove('hidden'); // Mostrar el elemento
                } else {
                    verticalHeader.classList.add('hidden'); // Ocultar el elemento
                }
            });
        } else {
            console.error('Elemento "menu-movil" o "vertical-header" no encontrado');
        }
    });
</script>
