---
import Contenido from "./components/Contenido.astro";
import HeaderView from "./components/HeaderView.astro";
import VerticalHeader from "./components/VerticalHeader.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-[#F2F9FE] dark:bg-[#111729] transition-colors duration-300">
    <HeaderView />
    <Contenido />
    <VerticalHeader />
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
    body {
      margin: 0;
      padding: 0;
      font-family: "Poppins", serif;
      font-size: 18px;
      overflow: hidden;
    }
  </style>
  <script>
    const defaulTheme = localStorage.getItem("theme"); // Obtener el tema actual del almacenamiento local
    
    const htmlElement = document.documentElement;

    htmlElement.classList.add(defaulTheme); // Agregar la clase 'dark' al elemento HTML
    const icons = document.getElementById("vertical-button");
    const verticalHeader = document.getElementById("vertical-header");

    icons.addEventListener("click", () => {
      
      // Alternar la clase 'hidden' en el elemento
      if (verticalHeader.classList.contains("hidden")) {
        verticalHeader.classList.remove("hidden"); // Mostrar el elemento
      } else {
        verticalHeader.classList.add("hidden"); // Ocultar el elemento
      }
    });
  </script>
</html>
